{% extends 'base.html' %}
{% block header %}
<h2>Login</h2>
{% endblock header %}

{% block content %}
<-- Add, in the line below, where the data should go--/>
<form action=""></form>
    <label for="first">Username:</label>
    <input type="text" id="first" name="first"
        placeholder="Enter your Username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password"
        placeholder="Enter your Password" required>
    <button type="submit">Submit</button>
{% endblock content %}